:80 {
  log {
    output stdout
    level info
  }

  @customer_api {
    path /api/customers /api/customers/* 
	}

  @machine_api {
    path  /api/machines /api/machines/*
  }

  handle @customer_api {
    reverse_proxy {$CUSTOMER_HOST}:8000
  }

  handle @machine_api {
    reverse_proxy  {$MACHINE_HOST}:8000
  }

  handle {
    root * /var/www/sp/
    file_server 
  }
}
