
#customer-panel {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 50%;
}

#customer-machines-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}
